body {
    font-family: sans-serif;
    background-color: black;
    color: black;
}

header {
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
    display: flex;
   
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid rgb(186, 186, 14);
    border-bottom: 5px solid rgb(186, 186, 14);
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex
}

.nav-link {
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

article {
    background-color: white;
    padding: 30px;
    width: 400px;
    text-align: center;
    margin: 30px;
    border: 5px solid rgb(186, 186, 14);
    border-radius: 20px;
}

.article-but {
    text-decoration: none;
    background-color: grey;
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: black;
    padding: ;
    display: flex;
    color: white
}

footer a {
     background-color: black;
    margin-right: ;
}

footer p {
    font-size: 24px;
}

.article-but {
    background-color: black;
}

.gif {
    
    justify-content: center;
    display: flex;
}

.video {
    display: flex;
    justify-content: center;
}

.gifimg {
    width: 960px;
    height: 270px;
}

article:hover{
    transform: scale(1.5);
    transition: all 2s linear;
}

p{
    border: 5px solid rgb(186, 186, 14);
    padding: 20px;
    border-radius: 20px;
}
